#projects{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: black;
    overscroll-behavior-y: none;
    background-color: lightblue;
}